name: rebase

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron:  '*/30 * * * *'

concurrency:
  group: rebase
  cancel-in-progress: true

jobs:
  rebase:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: rebase
        uses: manjaro-contrib/action-rebase@main
        with:
          upstream: https://gitlab.manjaro.org/packages/extra/mesa.git
